.tile-EastWind {
	background-image: url('./tile/EastWind.PNG');
}
.tile-SouthWind {
	background-image: url('./tile/SouthWind.PNG');
}
.tile-WestWind {
	background-image: url('./tile/WestWind.PNG');
}
.tile-NorthWind {
	background-image: url('./tile/NorthWind.PNG');
}
.tile-RedDragon {
	background-image: url('./tile/RedDragon.PNG');
}
.tile-GreenDragon {
	background-image: url('./tile/GreenDragon.PNG');
}
.tile-WhiteDragon {
	background-image: url('./tile/WhiteDragon.PNG');
}
.tile-1Myriad {
	background-image: url('./tile/1Myriad.PNG');
}
.tile-1Coin {
	background-image: url('./tile/1Coin.PNG');
}
.tile-1String {
	background-image: url('./tile/1String.PNG');
}
.tile-2Myriad {
	background-image: url('./tile/2Myriad.PNG');
}
.tile-2Coin {
	background-image: url('./tile/2Coin.PNG');
}
.tile-2String {
	background-image: url('./tile/2String.PNG');
}
.tile-3Myriad {
	background-image: url('./tile/3Myriad.PNG');
}
.tile-3Coin {
	background-image: url('./tile/3Coin.PNG');
}
.tile-3String {
	background-image: url('./tile/3String.PNG');
}
.tile-4Myriad {
	background-image: url('./tile/4Myriad.PNG');
}
.tile-4Coin {
	background-image: url('./tile/4Coin.PNG');
}
.tile-4String {
	background-image: url('./tile/4String.PNG');
}
.tile-5Myriad {
	background-image: url('./tile/5Myriad.PNG');
}
.tile-5Coin {
	background-image: url('./tile/5Coin.PNG');
}
.tile-5String {
	background-image: url('./tile/5String.PNG');
}
.tile-6Myriad {
	background-image: url('./tile/6Myriad.PNG');
}
.tile-6Coin {
	background-image: url('./tile/6Coin.PNG');
}
.tile-6String {
	background-image: url('./tile/6String.PNG');
}
.tile-7Myriad {
	background-image: url('./tile/7Myriad.PNG');
}
.tile-7Coin {
	background-image: url('./tile/7Coin.PNG');
}
.tile-7String {
	background-image: url('./tile/7String.PNG');
}
.tile-8Myriad {
	background-image: url('./tile/8Myriad.PNG');
}
.tile-8Coin {
	background-image: url('./tile/8Coin.PNG');
}
.tile-8String {
	background-image: url('./tile/8String.PNG');
}
.tile-9Myriad {
	background-image: url('./tile/9Myriad.PNG');
}
.tile-9Coin {
	background-image: url('./tile/9Coin.PNG');
}
.tile-9String {
	background-image: url('./tile/9String.PNG');
}